<app-header></app-header>
<div class="main" bgcolor="gray">
	<section class="module">
		<div class="container">
			<div class="account-wrapper">
				<div class="account-menu">
					<app-account-nav></app-account-nav>
				</div>
				<div class="account-details">
					<div class="box gap20">
						<div class="boxSubHeading bottomLine">Your Favorite Tour</div>
						<div class="boxBody">
							<ul class="tourListing listView" >
								<li>
									<div class="card box" matTooltip="Dubai Holiday 3N - Super Saver" [routerLink]="['/tour-details']">
				            <div class="cardImageWrapper" dataLable="4:3">
				              <div class="cardImage">
				                <img src="https://hldak.mmtcdn.com/prod-s3-hld-hpcmsadmin/holidays/images/cities/3147/ZO.jpg?crop=370:240&downsize=370:240" alt="">
				              </div>
				              <div class="cardImageShadow"></div>
				              <div class="cardDay">3N/4D</div>
				            </div>
				            <div class="cardFooter">
				              <div class="cardPrice ">
				                <span>$4,500</span>
				                $3,564
				                <div class="cardOffer mt-0">per person</div>
				              </div>
				              <ul class="cardAmenity">
				                <li>
				                  <mat-icon>flight</mat-icon>
				                  Flight
				                </li>
				                <li>
				                  <mat-icon>apartment</mat-icon>
				                  Hotel
				                </li>
				                <li>
				                  <mat-icon>hiking</mat-icon>
				                  Activity
				                </li>
				                <li>
				                  <mat-icon>directions_bus</mat-icon>
				                  Transfar
				                </li>
				              </ul>
				            </div>
				            <div class="cardBody">
				              <div class="cardHeading text-ellipsis">Dubai Holiday 3N - Super Saver</div>
				          		<div class="cardDes text-clamp ">Nature at its best! Thick luscious foliage, relaxed backwaters, blissful temples and synagogues, coral beaches and serene lakes</div>
				          		<div class="cardPrice ">$3,564
				          			<span>$4,500</span>
				          			<div class="cardOffer mt-0">per person</div>
				          		</div>
				          		<ul class="cardAmenity">
				          			<li>
				          				<mat-icon>restaurant</mat-icon>
				          				Meals
				          			</li>
				            		<li>
				            			<mat-icon>flight</mat-icon>
				            			Flight
				            		</li>
				            		<li>
				            			<mat-icon>apartment</mat-icon>
				            			Hotel
				            		</li>
				            		<li>
				            			<mat-icon>hiking</mat-icon>
				            			Activity
				            		</li>
				            		<li>
				            			<mat-icon>directions_bus</mat-icon>
				            			Transfar
				            		</li>
				            		<li>
				            			<mat-icon>camera</mat-icon>
				            			Sightseeing
				            		</li>
				            	</ul>
				            </div>
				          </div>
								</li>
								<li>
									<div class="card box" matTooltip="Family Special Dubai Shopping Holiday" [routerLink]="['/tour-details']">
				            <div class="cardImageWrapper" dataLable="4:3">
				              <div class="cardImage">
				                <img src="https://hldak.mmtcdn.com/prod-s3-hld-hpcmsadmin/holidays/images/cities/3147/Dubai-Fountain.jpg?crop=370:240&downsize=370:240" alt="">
				              </div>
				              <div class="cardImageShadow"></div>
				              <div class="cardDay">3N/4D</div>
				            </div>
				            <div class="cardFooter">
				              <div class="cardPrice ">
				                <span>$4,500</span>
				                $3,564
				                <div class="cardOffer mt-0">per person</div>
				              </div>
				              <ul class="cardAmenity">
				                <li>
				                  <mat-icon>flight</mat-icon>
				                  Flight
				                </li>
				                <li>
				                  <mat-icon>apartment</mat-icon>
				                  Hotel
				                </li>
				                <li>
				                  <mat-icon>hiking</mat-icon>
				                  Activity
				                </li>
				                <li>
				                  <mat-icon>directions_bus</mat-icon>
				                  Transfar
				                </li>
				              </ul>
				            </div>
				            <div class="cardBody">
				              <div class="cardHeading text-ellipsis">Family Special Dubai Shopping Holiday</div>
				          		<div class="cardDes text-clamp ">Nature at its best! Thick luscious foliage, relaxed backwaters, blissful temples and synagogues, coral beaches and serene lakes</div>
				          		<div class="cardPrice ">$3,564
				          			<span>$4,500</span>
				          			<div class="cardOffer mt-0">per person</div>
				          		</div>
				          		<ul class="cardAmenity">
				          			<li>
				          				<mat-icon>restaurant</mat-icon>
				          				Meals
				          			</li>
				            		<li>
				            			<mat-icon>flight</mat-icon>
				            			Flight
				            		</li>
				            		<li>
				            			<mat-icon>apartment</mat-icon>
				            			Hotel
				            		</li>
				            		<li>
				            			<mat-icon>hiking</mat-icon>
				            			Activity
				            		</li>
				            		<li>
				            			<mat-icon>directions_bus</mat-icon>
				            			Transfar
				            		</li>
				            		<li>
				            			<mat-icon>camera</mat-icon>
				            			Sightseeing
				            		</li>
				            	</ul>
				            </div>
				          </div>
								</li>
								<li>
									<div class="card box" matTooltip="Top Attractions-Dubai Holidays (Family Friendly)" [routerLink]="['/tour-details']">
				            <div class="cardImageWrapper" dataLable="4:3">
				              <div class="cardImage">
				                <img src="https://hldak.mmtcdn.com/prod-s3-hld-hpcmsadmin/holidays/images/cities/3147/ZB.jpg?crop=370:240&downsize=370:240" alt="">
				              </div>
				              <div class="cardImageShadow"></div>
				              <div class="cardDay">3N/4D</div>
				            </div>
				            <div class="cardFooter">
				              <div class="cardPrice ">
				                <span>$4,500</span>
				                $3,564
				                <div class="cardOffer mt-0">per person</div>
				              </div>
				              <ul class="cardAmenity">
				                <li>
				                  <mat-icon>flight</mat-icon>
				                  Flight
				                </li>
				                <li>
				                  <mat-icon>apartment</mat-icon>
				                  Hotel
				                </li>
				                <li>
				                  <mat-icon>hiking</mat-icon>
				                  Activity
				                </li>
				                <li>
				                  <mat-icon>directions_bus</mat-icon>
				                  Transfar
				                </li>
				              </ul>
				            </div>
				            <div class="cardBody">
				              <div class="cardHeading text-ellipsis">Top Attractions-Dubai Holidays (Family Friendly)</div>
				          		<div class="cardDes text-clamp ">Nature at its best! Thick luscious foliage, relaxed backwaters, blissful temples and synagogues, coral beaches and serene lakes</div>
				          		<div class="cardPrice ">$3,564
				          			<span>$4,500</span>
				          			<div class="cardOffer mt-0">per person</div>
				          		</div>
				          		<ul class="cardAmenity">
				          			<li>
				          				<mat-icon>restaurant</mat-icon>
				          				Meals
				          			</li>
				            		<li>
				            			<mat-icon>flight</mat-icon>
				            			Flight
				            		</li>
				            		<li>
				            			<mat-icon>apartment</mat-icon>
				            			Hotel
				            		</li>
				            		<li>
				            			<mat-icon>hiking</mat-icon>
				            			Activity
				            		</li>
				            		<li>
				            			<mat-icon>directions_bus</mat-icon>
				            			Transfar
				            		</li>
				            		<li>
				            			<mat-icon>camera</mat-icon>
				            			Sightseeing
				            		</li>
				            	</ul>
				            </div>
				          </div>
								</li>
								<li>
									<div class="card box" matTooltip="Magical Dubai 3N with 2N Atlantis" [routerLink]="['/tour-details']">
				            <div class="cardImageWrapper" dataLable="4:3">
				              <div class="cardImage">
				                <img src="https://hldak.mmtcdn.com/prod-s3-hld-hpcmsadmin/holidays/images/cities/3147/The-multi-million-dollar-Atlantis-Resort.jpg?crop=370:240&downsize=370:240" alt="">
				              </div>
				              <div class="cardImageShadow"></div>
				              <div class="cardDay">3N/4D</div>
				            </div>
				            <div class="cardFooter">
				              <div class="cardPrice ">
				                <span>$4,500</span>
				                $3,564
				                <div class="cardOffer mt-0">per person</div>
				              </div>
				              <ul class="cardAmenity">
				                <li>
				                  <mat-icon>flight</mat-icon>
				                  Flight
				                </li>
				                <li>
				                  <mat-icon>apartment</mat-icon>
				                  Hotel
				                </li>
				                <li>
				                  <mat-icon>hiking</mat-icon>
				                  Activity
				                </li>
				                <li>
				                  <mat-icon>directions_bus</mat-icon>
				                  Transfar
				                </li>
				              </ul>
				            </div>
				            <div class="cardBody">
				              <div class="cardHeading text-ellipsis">Magical Dubai 3N with 2N Atlantis</div>
				          		<div class="cardDes text-clamp ">Nature at its best! Thick luscious foliage, relaxed backwaters, blissful temples and synagogues, coral beaches and serene lakes</div>
				          		<div class="cardPrice ">$3,564
				          			<span>$4,500</span>
				          			<div class="cardOffer mt-0">per person</div>
				          		</div>
				          		<ul class="cardAmenity">
				          			<li>
				          				<mat-icon>restaurant</mat-icon>
				          				Meals
				          			</li>
				            		<li>
				            			<mat-icon>flight</mat-icon>
				            			Flight
				            		</li>
				            		<li>
				            			<mat-icon>apartment</mat-icon>
				            			Hotel
				            		</li>
				            		<li>
				            			<mat-icon>hiking</mat-icon>
				            			Activity
				            		</li>
				            		<li>
				            			<mat-icon>directions_bus</mat-icon>
				            			Transfar
				            		</li>
				            		<li>
				            			<mat-icon>camera</mat-icon>
				            			Sightseeing
				            		</li>
				            	</ul>
				            </div>
				          </div>
								</li>
								<li>
									<div class="card box" matTooltip="Gevora stay at Worlds Tallest Hotel" [routerLink]="['/tour-details']">
				            <div class="cardImageWrapper" dataLable="4:3">
				              <div class="cardImage">
				                <img src="https://hldak.mmtcdn.com/prod-s3-hld-hpcmsadmin/holidays/images/cities/3147/L.jpg?crop=370:240&downsize=370:240" alt="">
				              </div>
				              <div class="cardImageShadow"></div>
				              <div class="cardDay">3N/4D</div>
				            </div>
				            <div class="cardFooter">
				              <div class="cardPrice ">
				                <span>$4,500</span>
				                $3,564
				                <div class="cardOffer mt-0">per person</div>
				              </div>
				              <ul class="cardAmenity">
				                <li>
				                  <mat-icon>flight</mat-icon>
				                  Flight
				                </li>
				                <li>
				                  <mat-icon>apartment</mat-icon>
				                  Hotel
				                </li>
				                <li>
				                  <mat-icon>hiking</mat-icon>
				                  Activity
				                </li>
				                <li>
				                  <mat-icon>directions_bus</mat-icon>
				                  Transfar
				                </li>
				              </ul>
				            </div>
				            <div class="cardBody">
				              <div class="cardHeading text-ellipsis">Gevora stay at Worlds Tallest Hotel</div>
				          		<div class="cardDes text-clamp ">Nature at its best! Thick luscious foliage, relaxed backwaters, blissful temples and synagogues, coral beaches and serene lakes</div>
				          		<div class="cardPrice ">$3,564
				          			<span>$4,500</span>
				          			<div class="cardOffer mt-0">per person</div>
				          		</div>
				          		<ul class="cardAmenity">
				          			<li>
				          				<mat-icon>restaurant</mat-icon>
				          				Meals
				          			</li>
				            		<li>
				            			<mat-icon>flight</mat-icon>
				            			Flight
				            		</li>
				            		<li>
				            			<mat-icon>apartment</mat-icon>
				            			Hotel
				            		</li>
				            		<li>
				            			<mat-icon>hiking</mat-icon>
				            			Activity
				            		</li>
				            		<li>
				            			<mat-icon>directions_bus</mat-icon>
				            			Transfar
				            		</li>
				            		<li>
				            			<mat-icon>camera</mat-icon>
				            			Sightseeing
				            		</li>
				            	</ul>
				            </div>
				          </div>
								</li>
								
							</ul>
							<div class="clear10"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<app-footer></app-footer>
