<app-header></app-header>
<div class="main" bgcolor="gray">
	<section class="module">
		<div class="container">
			<div class="account-wrapper">
				<div class="account-menu">
					<app-account-nav></app-account-nav>
				</div>
				<div class="account-details">
					<div class="box">
						<mat-tab-group animationDuration="0ms">
							<mat-tab>
					      <ng-template mat-tab-label>
					        <mat-icon>confirmation_number</mat-icon>
					        <span class="mat-text">Tour Details</span>
					      </ng-template>
					      <ul class="tourListing listView" >
									<li>
										<div class="card box" matTooltip="Dubai Holiday 3N - Super Saver" [routerLink]="['/tour-details']">
					            <div class="cardImageWrapper" dataLable="4:3">
					              <div class="cardImage">
					                <img src="https://hldak.mmtcdn.com/prod-s3-hld-hpcmsadmin/holidays/images/cities/3147/ZO.jpg?crop=370:240&downsize=370:240" alt="">
					              </div>
					              <div class="cardImageShadow"></div>
					              <div class="cardDay">3N/4D</div>
					            </div>
					            <div class="cardFooter">
					              <div class="cardPrice ">
					                <span>$4,500</span>
					                $3,564
					                <div class="cardOffer mt-0">4 Adults, 2 Childrens</div>
					              </div>
					            </div>
					            <div class="cardBody">
					              <div class="cardHeading text-ellipsis">Dubai Holiday 3N - Super Saver</div>
					          		<div class="cardDes">Haridwar (1N)   →   Barkot (2N)   →   Uttarkashi (2N)</div>
					          		<div class="cardOffer">Date : 15th March, 2022 - 25h March, 2022</div>
					          		<div class="cardOffer">Includes : Transport, Hotel (Deluxe Room), Breakfast & Dinner</div>
					            </div>
					          </div>
									</li>
									<li>
										<div class="card box" matTooltip="Family Special Dubai Shopping Holiday" [routerLink]="['/tour-details']">
					            <div class="cardImageWrapper" dataLable="4:3">
					              <div class="cardImage">
					                <img src="https://hldak.mmtcdn.com/prod-s3-hld-hpcmsadmin/holidays/images/cities/3147/Dubai-Fountain.jpg?crop=370:240&downsize=370:240" alt="">
					              </div>
					              <div class="cardImageShadow"></div>
					              <div class="cardDay">3N/4D</div>
					            </div>
					            <div class="cardFooter">
					              <div class="cardPrice ">
					                <span>$4,500</span>
					                $3,564
					                <div class="cardOffer mt-0">4 Adults, 2 Childrens</div>
					              </div>
					            </div>
					            <div class="cardBody">
					              <div class="cardHeading text-ellipsis">Family Special Dubai Shopping Holiday</div>
					          		<div class="cardDes">Haridwar (1N)   →   Barkot (2N)   →   Uttarkashi (2N)</div>
					          		<div class="cardOffer">Date : 15th March, 2022 - 25h March, 2022</div>
					          		<div class="cardOffer">Includes : Transport, Hotel (Deluxe Room), Breakfast & Dinner</div>
					            </div>
					          </div>
									</li>
									<li>
										<div class="card box" matTooltip="Top Attractions-Dubai Holidays (Family Friendly)" [routerLink]="['/tour-details']">
					            <div class="cardImageWrapper" dataLable="4:3">
					              <div class="cardImage">
					                <img src="https://hldak.mmtcdn.com/prod-s3-hld-hpcmsadmin/holidays/images/cities/3147/ZB.jpg?crop=370:240&downsize=370:240" alt="">
					              </div>
					              <div class="cardImageShadow"></div>
					              <div class="cardDay">3N/4D</div>
					            </div>
					            <div class="cardFooter">
					              <div class="cardPrice ">
					                <span>$4,500</span>
					                $3,564
					                <div class="cardOffer mt-0">4 Adults, 2 Childrens</div>
					              </div>
					            </div>
					            <div class="cardBody">
					              <div class="cardHeading text-ellipsis">Top Attractions-Dubai Holidays (Family Friendly)</div>
					          		<div class="cardDes">Haridwar (1N)   →   Barkot (2N)   →   Uttarkashi (2N)</div>
					          		<div class="cardOffer">Date : 15th March, 2022 - 25h March, 2022</div>
					          		<div class="cardOffer">Includes : Transport, Hotel (Deluxe Room), Breakfast & Dinner</div>
					            </div>
					          </div>
									</li>
									<li>
										<div class="card box" matTooltip="Magical Dubai 3N with 2N Atlantis" [routerLink]="['/tour-details']">
					            <div class="cardImageWrapper" dataLable="4:3">
					              <div class="cardImage">
					                <img src="https://hldak.mmtcdn.com/prod-s3-hld-hpcmsadmin/holidays/images/cities/3147/The-multi-million-dollar-Atlantis-Resort.jpg?crop=370:240&downsize=370:240" alt="">
					              </div>
					              <div class="cardImageShadow"></div>
					              <div class="cardDay">3N/4D</div>
					            </div>
					            <div class="cardFooter">
					              <div class="cardPrice ">
					                <span>$4,500</span>
					                $3,564
					                <div class="cardOffer mt-0">4 Adults, 2 Childrens</div>
					              </div>
					            </div>
					            <div class="cardBody">
					              <div class="cardHeading text-ellipsis">Magical Dubai 3N with 2N Atlantis</div>
					          		<div class="cardDes">Haridwar (1N)   →   Barkot (2N)   →   Uttarkashi (2N)</div>
					          		<div class="cardOffer">Date : 15th March, 2022 - 25h March, 2022</div>
					          		<div class="cardOffer">Includes : Transport, Hotel (Deluxe Room), Breakfast & Dinner</div>
					            </div>
					          </div>
									</li>
									<li>
										<div class="card box" matTooltip="Gevora stay at Worlds Tallest Hotel" [routerLink]="['/tour-details']">
					            <div class="cardImageWrapper" dataLable="4:3">
					              <div class="cardImage">
					                <img src="https://hldak.mmtcdn.com/prod-s3-hld-hpcmsadmin/holidays/images/cities/3147/L.jpg?crop=370:240&downsize=370:240" alt="">
					              </div>
					              <div class="cardImageShadow"></div>
					              <div class="cardDay">3N/4D</div>
					            </div>
					            <div class="cardFooter">
					              <div class="cardPrice ">
					                <span>$4,500</span>
					                $3,564
					                <div class="cardOffer mt-0">4 Adults, 2 Childrens</div>
					              </div>
					            </div>
					            <div class="cardBody">
					              <div class="cardHeading text-ellipsis">Gevora stay at Worlds Tallest Hotel</div>
					          		<div class="cardDes">Haridwar (1N)   →   Barkot (2N)   →   Uttarkashi (2N)</div>
					          		<div class="cardOffer">Date : 15th March, 2022 - 25h March, 2022</div>
					          		<div class="cardOffer">Includes : Transport, Hotel (Deluxe Room), Breakfast & Dinner</div>
					            </div>
					          </div>
									</li>
								</ul>
					    </mat-tab>
					    <mat-tab>
					      <ng-template mat-tab-label>
					        <mat-icon>flight</mat-icon>
					        <span class="mat-text">Flight</span>
					      </ng-template>
					      asd
					    </mat-tab>
					    <mat-tab>
					      <ng-template mat-tab-label>
					        <mat-icon>business</mat-icon>
					        <span class="mat-text">Hotels</span>
					      </ng-template>
					      asdasd
					    </mat-tab>
					    <mat-tab>
					      <ng-template mat-tab-label>
					        <mat-icon>recent_actors</mat-icon>
					        <span class="mat-text">Visa</span>
					      </ng-template>
					      <div class="searchTitle">Looking to save on your Visa?</div>
					      <div class="searchDes">We compare thousands of deals to get you there</div>
					      <mat-divider></mat-divider>
					      Visa Content 
					    </mat-tab>
					    <mat-tab>
					      <ng-template mat-tab-label>
					        <mat-icon>receipt_long</mat-icon>
					        <span class="mat-text">Insurance</span>
					      </ng-template>
					      <div class="searchTitle">Looking to save on your Insurance?</div>
					      <div class="searchDes">We compare thousands of deals to get you there.</div>
					      <mat-divider></mat-divider>
					      Insurance
					    </mat-tab>
					  </mat-tab-group>
						<div class="clear10"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<app-footer></app-footer>
