@import '../../variable.scss';
ul.offerListing{list-style: none;padding: 0;margin:0 ;display: flex;align-items: center;flex-wrap: wrap;
	&>li{width: 50%;padding: 0.625rem;
		.offer{
			$this: &;
			&Wrapper{width: 100%;position: relative;overflow: hidden;padding-inline-end: 40%;border-radius: 0.625rem;box-shadow: rgba($black,0.15) 0 0 1.25rem;background-color:desaturate(darken($primary,25%),50%) ;
				&:before{width:40%;height: 100%; border-radius: 150% 0 0 0;position: absolute;right: 0.625rem;top: 0;overflow: hidden;background-color: $primary;content: '';box-shadow: rgba($black,0.25) 0 0 1.25rem;z-index: 2;}
				&:after{width:40%;height: 100%; border-radius: 150% 0 0 0;position: absolute;right: 1.25rem;top: 0;overflow: hidden;background-color: $white;content: '';box-shadow: rgba($black,0.25) 0 0 1.25rem;z-index: 1;}
			}
			&Image{width:40%;height: 100%; border-radius: 150% 0 0 0;position: absolute;right: 0;top: 0;overflow: hidden;z-index: 3;
				img{width: 100%;height: 100%;object-fit: cover;}
			}
			&Amount{position: absolute;width: 6.25rem;height: 6.25rem;border-radius: 50%;background-color: $primary;display: flex;align-items: center;justify-content: center;flex-direction: column; text-align: center;color: $white;font-size: 2.25rem;line-height: 1;font-weight: 600;right: 15%;top: 5%;border: $white solid 0.125rem;z-index: 4;
				span{font-size: 0.9375rem;display: block;}
			}
			&Des{width:100%;padding:0.625rem 1.25rem;
				&>div + div{margin-block-start: 0.625rem;}
			}
			&Logo{width: 7.5rem;height: auto;
				img{width: 100%;height: auto;}
			}
			&Titel{font-size: 2.5rem;font-family: 'Lobster Two', cursive;color: $white;}
			&Time{font-weight: 600; font-size: 0.875rem;font-style: italic;color: darken($white,15%);}
			&Text{font-size: 0.75rem;color: darken($white,25%);}

		}
	}
}
