<app-header></app-header>
<div class="main" bgcolor="gray">
	<section class="module">
		<div class="container-xl">
			<div class="account-wrapper">
				<div class="account-menu">
					<app-account-nav></app-account-nav>
				</div>
				<div class="account-details">
					<div class="box gap20">
						<div class="boxSubHeading bottomLine">Your Offer</div>
						<div class="boxBody">
							<section class="offerSlider">
					      <owl-carousel-o [options]="offerSlider">
					        <ng-template carouselSlide>
					          <div class="card">
					            <div class="cardImageWrapper" dataLable="10:2">
					              <div class="cardImage">
					                <img src="assets/images/slide.jpg" alt="">
					              </div>
					            </div>
					          </div>
					        </ng-template>  
					        <ng-template carouselSlide>
					          <div class="card">
					            <div class="cardImageWrapper" dataLable="10:2">
					              <div class="cardImage">
					                <img src="assets/images/slide1.jpg" alt="">
					              </div>
					            </div>
					          </div>
					        </ng-template>  
					        <ng-template carouselSlide>
					          <div class="card">
					            <div class="cardImageWrapper" dataLable="10:2">
					              <div class="cardImage">
					                <img src="assets/images/slide2.jpg" alt="">
					              </div>
					            </div>
					          </div>
					        </ng-template>  
					        <ng-template carouselSlide>
					          <div class="card">
					            <div class="cardImageWrapper" dataLable="10:2">
					              <div class="cardImage">
					                <img src="assets/images/slide3.jpg" alt="">
					              </div>
					            </div>
					          </div>
					        </ng-template>  
					        <ng-template carouselSlide>
					          <div class="card">
					            <div class="cardImageWrapper" dataLable="10:2">
					              <div class="cardImage">
					                <img src="assets/images/slide4.jpg" alt="">
					              </div>
					            </div>
					          </div>
					        </ng-template>  
					        <ng-template carouselSlide>
					          <div class="card">
					            <div class="cardImageWrapper" dataLable="10:2">
					              <div class="cardImage">
					                <img src="assets/images/slide5.jpg" alt="">
					              </div>
					            </div>
					          </div>
					        </ng-template>  
					      </owl-carousel-o>
						  </section>
							<ul class="offerListing">
								<li>
									<div class="offerWrapper" style="background-color: #4343af;">
										<div class="offerImage">
			                <img src="https://hldak.mmtcdn.com/prod-s3-hld-hpcmsadmin/holidays/images/cities/3147/ZO.jpg?crop=370:240&downsize=370:240" alt="">
										</div>	
		                <div class="offerAmount">
		                	<span>Get</span>
		                	50%
		                	<span>off</span>
		                </div>
										<div class="offerDes">
											<div class="offerTitel">Gift Voucher  </div>	
											<div class="offerTime">Valid From 15th Jun - 15th Aug </div>	
											<div class="offerText">
												<span class="text-clamp">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</span>
												T&C.
											</div>	
											<!-- <div class="offerLogo">
												<img src="assets/images/logo.png" alt="images" >
											</div> -->
										</div>
									</div>
								</li>
								<li>
									<div class="offerWrapper" style="background-color: #874d0b;">
										<div class="offerImage">
			                <img src="https://bsmedia.business-standard.com/_media/bs/img/article/2020-02/11/full/1581417166-7137.png" alt="">
										</div>	
		                <div class="offerAmount">
		                	<span>Get</span>
		                	50%
		                	<span>off</span>
		                </div>
										<div class="offerDes">
											<div class="offerTitel">Gift Voucher  </div>	
											<div class="offerTime">Valid From 15th Jun - 15th Aug </div>	
											<div class="offerText">
												<span class="text-clamp">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</span>
												T&C.
											</div>	
											<!-- <div class="offerLogo">
												<img src="assets/images/logo.png" alt="images" >
											</div> -->
										</div>
									</div>
								</li>
								<li>
									<div class="offerWrapper" style="background-color: #1b6687;">
										<div class="offerImage">
			                <img src="https://upload.wikimedia.org/wikipedia/commons/8/8d/Vande_Bharat_exp.jpg" alt="">
										</div>	
		                <div class="offerAmount">
		                	<span>Get</span>
		                	50%
		                	<span>off</span>
		                </div>
										<div class="offerDes">
											<div class="offerTitel">Gift Voucher  </div>	
											<div class="offerTime">Valid From 15th Jun - 15th Aug </div>	
											<div class="offerText">
												<span class="text-clamp">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</span>
												T&C.
											</div>	
											<!-- <div class="offerLogo">
												<img src="assets/images/logo.png" alt="images" >
											</div> -->
										</div>
									</div>
								</li>
								<li>
									<div class="offerWrapper" style="background-color: #0d5c01;">
										<div class="offerImage">
			                <img src="https://hldak.mmtcdn.com/prod-s3-hld-hpcmsadmin/holidays/images/cities/3147/ZO.jpg?crop=370:240&downsize=370:240" alt="">
										</div>	
		                <div class="offerAmount">
		                	<span>Get</span>
		                	50%
		                	<span>off</span>
		                </div>
										<div class="offerDes">
											<div class="offerTitel">Gift Voucher  </div>	
											<div class="offerTime">Valid From 15th Jun - 15th Aug </div>	
											<div class="offerText">
												<span class="text-clamp">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</span>
												T&C.
											</div>	
											<!-- <div class="offerLogo">
												<img src="assets/images/logo.png" alt="images" >
											</div> -->
										</div>
									</div>
								</li>
								<li>
									<div class="offerWrapper" style="background-color: #a11880;">
										<div class="offerImage">
			                <img src="https://catalog.wlimg.com/4/618361/small-images/tour-operators-91628.png" alt="">
										</div>	
		                <div class="offerAmount">
		                	<span>Get</span>
		                	20%
		                	<span>off</span>
		                </div>
										<div class="offerDes">
											<div class="offerTitel">Gift Voucher  </div>	
											<div class="offerTime">Valid From 15th Jun - 15th Aug </div>	
											<div class="offerText">
												<span class="text-clamp">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</span>
												T&C.
											</div>	
											<!-- <div class="offerLogo">
												<img src="assets/images/logo.png" alt="images" >
											</div> -->
										</div>
									</div>
								</li>
								<li>
									<div class="offerWrapper" style="background-color: #063d54;">
										<div class="offerImage">
			                <img src="https://sbnri.com/blog/wp-content/uploads/2021/06/NRI-lfie-insurance.jpg" alt="">
										</div>	
		                <div class="offerAmount">
		                	<span>Get</span>
		                	50%
		                	<span>off</span>
		                </div>
										<div class="offerDes">
											<div class="offerTitel">Gift Voucher  </div>	
											<div class="offerTime">Valid From 15th Jun - 15th Aug </div>	
											<div class="offerText">
												<span class="text-clamp">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</span>
												T&C.
											</div>	
											<!-- <div class="offerLogo">
												<img src="assets/images/logo.png" alt="images" >
											</div> -->
										</div>
									</div>
								</li>
							</ul>
							<div class="clear10"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<app-footer></app-footer>
