<app-header></app-header>
<div class="main" bgcolor="gray">
	<section class="module">
		<div class="container">
			<div class="account-wrapper">
				<div class="account-menu">
					<app-account-nav></app-account-nav>
				</div>
				<div class="account-details">
					<div class="box gap20">
						<div class="boxSubHeading bottomLine">Reset Password</div>
						<div class="boxBody">
							<div class="row gutter20">
								<div class="col-lg-6">
									<mat-form-field appearance="outline" color="primary">
										<mat-label>Old Password</mat-label>
								    <input matInput [type]="hide ? 'password' : 'text'" required="">
								    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
								    	<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
								    </button>
								  </mat-form-field>
								</div>
								<div class="w-100"></div>
								<div class="col-lg-6">
									<mat-form-field appearance="outline" color="primary">
										<mat-label>New Password</mat-label>
								    <input matInput [type]="hideNew ? 'password' : 'text'" required="">
								    <button mat-icon-button matSuffix (click)="hideNew = !hideNew" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
								    	<mat-icon>{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
								    </button>
								  </mat-form-field>
								</div>
								<div class="col-lg-6">
									<mat-form-field appearance="outline" color="primary">
										<mat-label>Confirm Password</mat-label>
								    <input matInput [type]="hideC ? 'password' : 'text'" required="">
								    <button mat-icon-button matSuffix (click)="hideC = !hideC" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
								    	<mat-icon>{{hideC ? 'visibility_off' : 'visibility'}}</mat-icon>
								    </button>
								  </mat-form-field>
								</div>
							</div>
							<div class="webButton">
								<button mat-flat-button color="accent" (click)="backClicked()">Update</button>
								<button mat-stroked-button color="accent" (click)="backClicked()">Cancel</button>
							</div>
							<div class="clear10"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<app-footer></app-footer>
