<app-header></app-header>
<div class="main">
    <section class="subBanner">
        <div class="imgSection">
            <img src="assets/images/banner1.jpg" alt="banner">
        </div>
        <div class="container-xl">
            <div class="row align-items-center">
                <div class="col">
                    <h2 class="banner-heading fontLobster">About Us</h2>
                    <h6 class="banner-text">Life is a journey,But life is short, and the world is wide</h6>
                </div>
                <div class="col-auto">
                    <mat-form-field appearance="outline" color="white" class="rounded">
                        <mat-icon matPrefix>search</mat-icon>
                        <input matInput placeholder="Search here...">
                    </mat-form-field>
                </div>
            </div>
        </div>
    </section>
    <section class="module pt-0">
        <div class="container-xl">
            <div aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item" [routerLink]="['/']">Home</li>
                    <!-- <li class="breadcrumb-item" [routerLink]="['/tour']">About s</li> -->
                    <li class="breadcrumb-item active" aria-current="page">About Us</li>
                </ol>
            </div>
        </div>
    </section>
    <section class="module">
        <div class="container-xl">
            <!-- <h2 class="text-center heading">Unlock Special Deals</h2> -->
            <p>Space Way Travel and Tourism L.L.C is an online travel platform that offers to take customers through an easy and convenient booking experience for all of their travel requirements without boundaries, for the most competitive prices.</p>
            <p>By investing in the technology that helps take the friction out of travel, Space Way Travel seamlessly connects millions of travelers with memorable experiences, a range of flight options, and incredible places to stay - from homes to hotels
                and much more.</p>
            <p>One of the key aspects of focus will be customer satisfaction with utmost transparency by understanding their needs and giving them what they desire, to ensure and a wonderful customer experience Space Way Travel is equipped with a support
                team of skilled, efficient and dedicated agents that serve 24X 7 by working round the clock to assist customers with any changes, queries or concerns at any point of time.</p>
            <p>With a team of vastly experienced and passionate travel people, the company has evolved to offer a complete range of world-class products, consultancy services, and travel management solutions that support both businesses and individuals.</p>
        </div>
    </section>
    <app-footer></app-footer>