<app-header></app-header>
<div class="main" bgcolor="gray">
	<section class="module">
		<div class="container">
			<div class="account-wrapper">
				<div class="account-menu">
					<app-account-nav></app-account-nav>
				</div>
				<div class="account-details">
					<div class="box gap20">
						<div class="boxSubHeading bottomLine">Your Favorite Tour</div>
						<div class="boxBody">
							<ul class="tourListing listView" >
								<li>
									<div class="card">
				            <div class="cardIcon" >
				              <mat-icon class="material-icons-outlined"color="accent">notifications</mat-icon>
				            </div>
				            <div class="cardBody">
				              <div class="cardName">Dubai Holiday 3N - Super Saver</div>
				          		<div class="cardDes text-clamp ">Nature at its best! Thick luscious foliage, relaxed backwaters, blissful temples and synagogues, coral beaches and serene lakes</div>
				            </div>
				          </div>
								</li>
								<li>
									<div class="card">
				            <div class="cardIcon" >
				              <mat-icon class="material-icons-outlined"color="accent">notifications</mat-icon>
				            </div>
				            <div class="cardBody">
				              <div class="cardName">Family Special Dubai Shopping Holiday</div>
				          		<div class="cardDes text-clamp ">Nature at its best! Thick luscious foliage, relaxed backwaters, blissful temples and synagogues, coral beaches and serene lakes</div>
				            </div>
				          </div>
								</li>
								<li>
									<div class="card">
				            <div class="cardIcon" >
				              <mat-icon class="material-icons-outlined"color="accent">notifications</mat-icon>
				            </div>
				            <div class="cardBody">
				              <div class="cardName">Top Attractions-Dubai Holidays (Family Friendly)</div>
				          		<div class="cardDes text-clamp ">Nature at its best! Thick luscious foliage, relaxed backwaters, blissful temples and synagogues, coral beaches and serene lakes</div>
				            </div>
				          </div>
								</li>
								<li>
									<div class="card">
			              <div class="cardIcon" >
				              <mat-icon class="material-icons-outlined"color="accent">notifications</mat-icon>
				            </div>
				            <div class="cardBody">
				              <div class="cardName">Magical Dubai 3N with 2N Atlantis</div>
				          		<div class="cardDes text-clamp ">Nature at its best! Thick luscious foliage, relaxed backwaters, blissful temples and synagogues, coral beaches and serene lakes</div>
				            </div>
				          </div>
								</li>
								<li>
									<div class="card">
				            <div class="cardIcon" >
				              <mat-icon class="material-icons-outlined"color="accent">notifications</mat-icon>
				            </div>
				            <div class="cardBody">
				              <div class="cardName">Gevora stay at Worlds Tallest Hotel</div>
				          		<div class="cardDes text-clamp ">Nature at its best! Thick luscious foliage, relaxed backwaters, blissful temples and synagogues, coral beaches and serene lakes</div>
				            </div>
				          </div>
								</li>
								
							</ul>
							<div class="clear10"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<app-footer></app-footer>
