@import '../../../variable.scss';
.search{
	&Element{list-style: none;padding:0;margin: 0 -0.625rem;display: flex;flex-wrap: wrap;
		li{padding:0 0.625rem;width: calc(100%/3);position: relative;}
	}
	&Swap{position: absolute;left: 0;top: calc(50% - 0.5em);transform: translate(-50%, -50%);z-index: 1;}
}
