<footer>
    <div class="container-xl">
        <div class="row align-items-center">
            <div class="col-sm-auto ml-auto order-md-1">
                <div class="footerLink">
                    <a [routerLink]="['/contact']">Contact Us</a>
                    <a [routerLink]="['/term-condition']">Terms & conditions</a>
                    <a [routerLink]="['/privacy-policy']">Privacy policy</a>
                    <a href="#">Cookies policy</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-auto">
                <p>Design and Developed By
                    <a href="https://infinitorce.com/">Infinitorce</a>
                </p>
            </div>

        </div>
    </div>
</footer>