<app-header></app-header>
<div class="main">
  <section class="subBanner">
		<div class="imgSection">
			<img src="assets/images/sub-banner.jpg" alt="banner">
		</div>
		<div class="container-xl">
			<app-flight-search class="singel-line radioWhite"></app-flight-search>
		</div>
	</section>
  <section class="module pt-0" >
		<div class="container-xl">
			<div aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item" [routerLink]="['/']">Home</li>
					<li class="breadcrumb-item" [routerLink]="['/tour']">Tour</li>
					<li class="breadcrumb-item active" aria-current="page">Tour Listing</li>
				</ol>
			</div>
			<div class="flightWrapper">
          <!-- <div class="flightFilter">
            <app-filter></app-filter>
          </div> -->
          <div class="flightList">
            <mat-tab-group class="min-vh-100" (selectedTabChange)="selectData($event)">
              <mat-tab *ngFor="let city of tabList">
                <ng-template mat-tab-label>
                  <span>{{ city.flyFrom }} To {{ city.flyTo }}</span>
                </ng-template>
                
                  <ul class="flightListing listView">
                    <li *ngFor="let route of tabData; index as i">
                      <div class="card box">
                        <!-- <div class="cardImageWrapper" dataLable="1:1">
                          
                        </div> -->
                        <div class="cardFooter">
                          <div class="cardPrice ">
                            {{ route[0].price_dropdown.base_fare | number: '1.0-0' }}
                          </div>
                          <!-- <a class="cardOffer font-weight-bold text-accent">More Fare</a> -->
                          <div class="clear10"></div>
                          <button mat-flat-button color="primary" class="btn-sm" (click)="bookFlight()">Book Now</button>
                          <div class="clear10"></div>
                          <!-- <a class="cardOffer  font-weight-bold  text-accent" (click)="flightDetails = !flightDetails;">Flight Details <mat-icon>{{flightDetails ? 'expand_less' : 'expand_more'}}</mat-icon> </a> -->
                        </div>
                        <div class="cardBody">
                          <div class="row">
                            <div class="col-lg-2">
                                <img src="https://airhex.com/images/airline-logos/indigo.png" width="50px" alt="">
                              
                            </div>
                            
                            <div class="col-lg-2">
                              <div class="cardHeading ">{{ route[0].airlines }}</div>
                              <div class="cardOffer">6E 634</div>
                            </div>
                            <div class="col-lg-3 text-center">
                              <div class="cardHeading ">{{ route[0].utc_departure | date: "d/M/yy, h:mm a" }}</div>
                              <div class="cardFlight"></div>
                              <div class="cardOffer">(<strong>CCU</strong>) Kolkata</div>
                            </div>
                            <div class="col-lg-3 text-center">
                              <div class="cardDes">{{
                                getDuration(route[0].utc_departure, route[0].utc_arrival)
                              }}
                              Hours</div>
                              <div class="cardFlight"></div>
                              <div class="cardOffer">non-stop</div>
                            </div>
                            <div class="col-lg-2 text-center">
                              <div class="cardHeading ">14:30</div>
                              <div class="cardOffer">(<strong>GOI </strong>) Goa</div>
                            </div>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                      </div>
                    </li>
                  </ul>
               
              </mat-tab>
            </mat-tab-group>
          </div>
          
          
				
			</div>
		</div>
	</section>
</div>
<!-- <div class="container">
  <mat-tab-group class="min-vh-100" (selectedTabChange)="selectData($event)">
    <mat-tab *ngFor="let city of tabList">
      <ng-template mat-tab-label>
        <span>{{ city.flyFrom }} To {{ city.flyTo }}</span>
      </ng-template>
      <div class="row">
        <table class="table table-striped table-hover table-bordered">
          <thead>
            <tr>
              <th scope="col">Airlines</th>
              <th scope="col">Departure</th>
              <th scope="col">Duration</th>
              <th scope="col">Arrival</th>
              <th scope="col">Price</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let route of tabData; index as i">
              <td>
                {{ route[0].airlines }} <br />
                Available Seats = {{ route[0].availability.seats }}
              </td>
              <td>{{ route[0].utc_departure | date: "d/M/yy, h:mm a" }}</td>
              <td>
                {{
                  getDuration(route[0].utc_departure, route[0].utc_arrival)
                }}
                Hours
              </td>
              <td>{{ route[0].utc_arrival | date: "d/M/yy, h:mm a" }}</td>
              <td>
                {{ route[0].price_dropdown.base_fare | number: '1.0-0' }}                           
              </td>              
            </tr>
          </tbody>
        </table>
      </div>
    </mat-tab>
  </mat-tab-group>
</div> -->
<app-footer></app-footer>
